.popup.registration
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title registartion
    form
      each item in registartionInputField
        .input-wrap
          input(type=item.typeField name=item.name placeholder=item.placeholder autocomplete="off")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
          a(href="#") dolor sit.
      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")
      button(type="submit").btn registration

.popup.callback
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title CAllback
    form
      each item in callbackInputField
        .input-wrap
          input(type=item.typeField name=item.name placeholder=item.placeholder autocomplete="off")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
          a(href="#") dolor sit.
      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")
      button(type="submit").btn send

.popup.login
  .popup__wrap(style="background-image: url('assets/img/tabs_section_bg.jpg')")
    .title-wrap
      h2.title log in
    form
      each item in loginInputField
        .input-wrap
          input(type=item.typeField name=item.name placeholder=item.placeholder autocomplete="off")
      .popup__agree
        input(type="checkbox" id="agree")
        label(for="agree") Lorem ipsum 
          a(href="#") dolor sit.
      .callback-btn
        a(href="#") Contact us
          span
            img(src="assets/img/callback.png", alt="")
      button(type="submit").btn log in